<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="css/cadastro_main.less.css" class="main-less">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

		<script src="intelxdk.js"></script>
		<script src="cordova.js"></script>
		<script src="xhr.js"></script>
		<script src="xdk/init-dev.js"></script>
	</head>

	<body>
		<div class="upage vertical-col" id="mainpage"></div>
	</body>

</html>