<div class="list card stable-bg">
    <div class="item item-avatar">
        <img src="img/musico.jpg"> 
        <h2>Perfil de Notificacion</h2> 
        <p>Tipo notificacion</p>
    </div> 
    <div class="item item-body">
        Mensaje de la notificacion: ej "hoy agendaste ensayo a las 18 hrs"
    </div> 
    <div class="item tabs tabs-secondary tabs-icon-right"> 
        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> 
            <i class="icon ion-close-round"></i> Eliminar 
        </a> 
    </div> 
</div>
                