<ion-view>
    <div class="bar bar-header bar-dark redBackGround"> 
        <div class="buttons buttons-left header-item" ng-click="volver()"> 
           <span class="left-buttons"> 
               <button class="button button-icon button-clear ion-ios-arrow-back" menu-toggle="left"> </button>
           </span>
        </div>
        <div class="h1 title">Notificaciones</div>                     
    </div>

    <ion-scroll zooming="true" direction="y" class="has-header"
            scrollbar-y="false" style="width:100%;height:100%;" >


    <div class="list card stable-bg">
        <div style="position:absolute; top:8%; left:90%;color:#444;" ng-click="eliminarNotificacion()"> 
            <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> 
                <i class="icon ion-close-round" ></i> 
            </a> 
        </div> 
        <div class="item item-avatar">
            <img src="img/musico.jpg" class="img-profile">
            <h2>Perfil de Notificacion</h2> 
            <p>Tipo notificacion</p>
        </div> 
        <div class="row text-left" style="position:relative">
            <p style="color:black;">Mensaje de la notificacion: ej "hoy agendaste ensayo a las 18 hrs asdasdasdasdasdasdasdasdasd
                asdasdasd asdasda  asd asdasd as dasd as das dasdasd asd a s
                a sdasdeasdasd"</p>
        </div> 
    </div>
        
    <div class="list card stable-bg">
        <div style="position:absolute; top:8%; left:90%;color:#444;" ng-click="eliminarNotificacion()"> 
            <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> 
                <i class="icon ion-close-round" ></i> 
            </a> 
        </div> 
        <div class="item item-avatar">
            <img src="img/musico.jpg" class="img-profile">
            <h2>Perfil de Notificacion</h2> 
            <p>Tipo notificacion</p>
        </div> 
        <div class="row text-left" style="position:relative">
            <p style="color:black;">Mensaje de la notificacion: ej "hoy agendaste ensayo a las 18 hrs asdasdasdasdasdasdasdasdasd
                asdasdasd asdasda  asd asdasd as dasd as das dasdasd asd a s
                a sdasdeasdasd"</p>
        </div> 
    </div>
        
    <div class="list card stable-bg">
        <div style="position:absolute; top:8%; left:90%;color:#444;" ng-click="eliminarNotificacion()"> 
            <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> 
                <i class="icon ion-close-round" ></i> 
            </a> 
        </div> 
        <div class="item item-avatar">
            <img src="img/musico.jpg" class="img-profile">
            <h2>Perfil de Notificacion</h2> 
            <p>Tipo notificacion</p>
        </div> 
        <div class="row text-left" style="position:relative">
            <p style="color:black;">Mensaje de la notificacion: ej "hoy agendaste ensayo a las 18 hrs asdasdasdasdasdasdasdasdasd
                asdasdasd asdasda  asd asdasd as dasd as das dasdasd asd a s
                a sdasdeasdasd"</p>
        </div> 
    </div>
        
    <div class="list card stable-bg">
        <div style="position:absolute; top:8%; left:90%;color:#444;" ng-click="eliminarNotificacion()"> 
            <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> 
                <i class="icon ion-close-round" ></i> 
            </a> 
        </div> 
        <div class="item item-avatar">
            <img src="img/musico.jpg" class="img-profile">
            <h2>Perfil de Notificacion</h2> 
            <p>Tipo notificacion</p>
        </div> 
        <div class="row text-left" style="position:relative">
            <p style="color:black;">Mensaje de la notificacion: ej "hoy agendaste ensayo a las 18 hrs asdasdasdasdasdasdasdasdasd
                asdasdasd asdasda  asd asdasd as dasd as das dasdasd asd a s
                a sdasdeasdasd"</p>
        </div> 
    </div>
        
        
        

        

    </ion-scroll>

</ion-view>      