    <div id="imagen_musico" ng-style="background" style="text-align:center;background-image:url(img/login_bg.jpg)">
        <div style="width:100%;height:78%;">
            <img style="top:10%;position:relative;" src="img/musico.jpg" class="img-profile avatar_perfil"> 
        </div>

        <div style="width:100%;height:22%;text-align:center;">
            <div class="buttons_perfil" style="height:100%">
                <!---button class="button button-clear flat waves-effect waves-button waves-light"
                        style="float:left;position:relative;"-->
                    <i class="icon ion-location" style="color:white;vertical-align:middle;float:left;position:relative;font-size: 30px;margin-left:5%"></i>
                <!--button-->
                <!--button class="button button-clear flat waves-effect waves-button waves-light"
                        style="float:right;position:relative;"-->
                    <i class="icon ion-heart" style="color:white;float:right;position:relative;vertical-align:middle;font-size:30px;margin-right:5%"></i>
                <!--/button-->
            </div>
        </div>
    </div>
    
    <div class="button-bar" style="width:100%;height:40px;">
        <button class="button button-dark waves-effect waves-button waves-classic icon ion-images" style="line-height:50%;text-align:center;"></button>
        <button class="button button-dark waves-effect waves-button waves-classic icon ion-images" style="line-height:50%;text-align:center;"></button>
        <button class="button button-dark waves-effect waves-button waves-classic icon ion-images" style="line-height:50%;text-align:center;"></button>
    </div>

    <div id="contenido_musico">
    
    </div>