<ion-list>
    <!--ng-repeat perfil in logueado-->
    <ion-item nav-clear menu-close class="item-icon-left item-avatar">
        <i class="icon ion-record"></i>
        <h2>List title</h2>
        <p>List description</p>
    </ion-item>
    <ion-item nav-clear menu-close class="item-icon-left item-avatar">
        <i class="icon ion-record"></i>
        <h2>List title</h2>
        <p>List description</p>
    </ion-item>    
    <ion-item nav-clear menu-close class="item-icon-left item-avatar">
        <i class="icon ion-record"></i>
        <h2>List title</h2>
        <p>List description</p>
    </ion-item>
    <ion-item nav-clear menu-close class="item-icon-left item-avatar">
        <i class="icon ion-record" class="img-profile"></i>
        <h2>List title</h2>
        <p>List description</p>
    </ion-item>
</ion-list>
        