<ion-modal-view> 
    <ion-list scroll="true">
        <!--ng-repeat perfil in logueado-->
        <ion-item nav-clear menu-close class="item-icon-left item-avatar" ng-click="cambiarPerfil()">
            <img src="img/musico.jpg" class="img-profile">  
            <h2>Nombre Perfil</h2>
            <p>Tipo Perfil</p>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left item-avatar" ng-click="cambiarPerfil()">
            <img src="img/musico.jpg" class="img-profile">  
            <h2>Nombre Perfil</h2>
            <p>Tipo Perfil</p>
        </ion-item>    
        <ion-item nav-clear menu-close class="item-icon-left item-avatar" ng-click="cambiarPerfil()">
            <img src="img/musico.jpg" class="img-profile">  
            <h2>Nombre Perfil</h2>
            <p>Tipo Perfil</p>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left item-avatar" ng-click="cambiarPerfil()">
            <img src="img/musico.jpg" class="img-profile">  
            <h2>Nombre Perfil</h2>
            <p>Tipo Perfil</p>
        </ion-item>
    </ion-list>
    <button id="fab-perfiles" class="button button-raised button-fab button-assertive" nav-view="active"><i class="icon ion-plus"></i></button>
</ion-modal-view>