<div id="imagen_profesor" ng-style="background">
    <div class="buttons_perfil">
        <button id="like_button" class="button button-large round-button button-clear flat waves-effect waves-button waves-light">
            <i class="icon ion-heart" style="color:white;"></i></button>
    </div>
</div>
<div id="servicios_profesor"></div>
<div id="info_profesor"></div>

<button id="fab-reservar" class="button button-raised button-fab button-assertive" nav-view="active"><i class="icon ion-calendar"></i></button>