<!-- *** Principal *** -->
<ion-side-menus enable-menu-with-back-views="true">

    <!-- *** Central *** --> 
	<ion-side-menu-content>
        
        <!-- *** Header *** -->
        <div class="bar bar-header bar-dark redBackGround" style="text-align: center;"> 
            <div class="h1 title">{{$root.titulo_principal}}</div>
            <img src="img/musico.jpg" class="img-profile">                       
        </div>
        
        <div class="bar bar-header bar-calm-900 redBackGround">
           <div class="buttons buttons-left header-item"> 
               <span class="left-buttons"> 
                   <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
               </span>
            </div>
           <div class="h1 title title-left light">{{$root.titulo_principal}}</div>
           <div class="buttons buttons-right header-item">
            <span class="right-buttons">
               <button class="button button-balanced button-fab" ng-click="verPerfiles()"> 
                   <img src="img/musico.jpg" class="img-profile">
                   <i class="icon ion-star"></i> 
               </button>
            </span> 
            </div>
        </div>
    <!-- *** -->    
        
    <!-- *** Content *** -->
    <ion-content class="has-header has-footer"> 
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-content>
    <!-- *** -->     
        
    <!-- *** Footer *** -->  
        <div class="tabs-striped tabs-color-assertive">            
            <div class="tabs">                
                <a class="tab-item" href="#">
                    <i class="icon ion-home"></i>
                    Test
                </a>
                <a class="tab-item active"  id="pedirPlomo" href="#">        
                    Pedirle a Plomo
                </a>     
                <a class="tab-item" href="#">
                    <i class="icon ion-gear-a"></i>
                    Settings
                </a>
            </div>
        </div> 
        <!-- *** -->       
        
    </ion-side-menu-content>   
    <!-- *** -->

    <!-- *** Left *** -->
    <ion-side-menu side="left">
        
        <!-- *** Header Menu *** -->
        <ion-header-bar class="expanded bar bar-header disable-user-behavior header_menu">
            <div class="menu-bottom"><font size="5" style="color:whitesmoke;">Mi Plomo</font></div>
        </ion-header-bar>
        <!-- *** -->
        
        <!-- *** Contenido Menu *** -->
        <ion-content class="has-expanded-header has-header content_menu" scrollbar-y="false"> 
            <ion-list class="disable-user-behavior">
            <div class="list" style="position:relative;">

                <ion-item href="#/principal/mapa" class="item_menu"
                          ng-click="inicializarMapa()"menu-close>
                    <i class="icon ion-map" style="color:whitesmoke; font-size:30px;"></i> 
                    <font size="3"> &nbsp;&nbsp; Mapa de Servicios</font>
                </ion-item>
                
                <ion-item href="#/principal/perfil_musico" class="item_menu"
                          ng-click=""menu-close>
                    <i class="icon ion-map" style="color:whitesmoke; font-size:30px;"></i> 
                    <font size="3"> &nbsp;&nbsp; Perfil Musico</font>
                </ion-item>
                
            </div>
            </ion-list>
            <div href="" class="item_menu" style="position:absolute;bottom:30px;left:20px;"
            ng-click="cerrarSesion()">
                <i class="icon ion-power" style="font-size:25px;"></i> 
                <font size="3"> &nbsp;&nbsp; Cerrar Sesion</font>
            </div>
        </ion-content>
        <!-- *** -->
        
	</ion-side-menu>
    <!-- *** -->
    
    <!-- *** Right *** -->
    <!-- *** -->
    
</ion-side-menus>
<!-- *** -->

<!-- BORRAR 
<body>
        <!-- *** Header bar ***
        <div class="bar bar-header bar-dark redBackGround"> 
            <div class="h1 title">Plomo</div>
            <img src="img/musico.jpg" class="img-profile">                       
        </div>
        <div class="bar bar-header bar-calm-900 redBackGround">
           <div class="buttons buttons-left header-item" ng-click="toggleLeft()"> 
               <span class="left-buttons"> 
                   <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
               </span>
            </div>
           <div class="h1 title title-left light">Plomo</div>
           <div class="buttons buttons-right header-item">
            <span class="right-buttons">
               <button class="button button-balanced button-fab" ng-click="verPerfiles()"> 
                   <img src="img/musico.jpg" class="img-profile">
                   <i class="icon ion-star"></i> 
               </button>
            </span> 
            </div>
        </div>  


 <div class="tabs-striped tabs-color-assertive">
    <div class="tabs">                
        <a class="tab-item" href="#">
            <i class="icon ion-home"></i>
            Test
        </a>
        <a class="tab-item active"  id="pedirPlomo" href="#">        
            Pedirle a Plomo
        </a>     
        <a class="tab-item" href="#">
            <i class="icon ion-gear-a"></i>
            Settings
        </a>
    </div>
</div>      
    
</body>
-->