.redBackGround{
    background-color: #dd4b39 !important;
}

.img-profile{    
   /* position: absolute;
    left: 92%;
    top: 10%;
    /*top: 16px;
    left: 16px;*/
    /*max-width: 35px;
    max-height: 35px;*/
    width: 100%;
    height: 100%;
    /*border-radius: 50%;
    text-align: right;*/
}

.contenedorImg{
    float:right;
}

/*////////*/
/*Perfiles*/
/*////////*/

#fab-perfiles{
    opacity: 1;
    position: absolute;
    top:70%;
    left:75%;
}

.list.card.stable-bg{
    position: relative;
    width: 93%;
    left:2%;
}
